.Forms {
  height: 60%;
}

.FormsOuterBox {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.FormInnerBox {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.FormNameBox {
  width: 20%;
  font-size: 12pt;
}

.FormGameBox {
  margin-top: 2%;
  width: 20%;
  font-size: 12pt;
}

.FormReviewBox {
  margin-top: 2%;
  height: 30%;
  font-size: 12pt;
}

.FormPostButton {
  margin-top: 2%;
  width: 5%;
}

.ReviewsTitle {
  border-bottom: 1px solid grey;
}

.Review {
  border-bottom: 1px solid grey;
}
