.mpMainPage {
  font-size: 23px;
}

.mpContentOuterBox {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.mpContentInnerBox {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
